body{
    background-color: darkslategrey;
}
.div1{
    background-color: rgba(0,0,0,0.4);
    height: 65%;
    width: 50%;
    position: absolute;
    margin-left: 18%;
    margin-top: 5%;
}
.head{
    color: white;
    font-size: 80px;
    text-align: center;
}
.div2{
    color: white;
    background-color: gray;
    height: 50%;
    width: 45%;
    font-size: 27px;
    margin-left: 25%;
    margin-top: 2%;
    position: absolute;
    padding: 3%;
}
.div2:hover{
    margin-top: 1%;
}